* {
    margin: 0;
    padding: 0;
    list-style: none;
}
 body{
    background-color: #F9F9F9;
    
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns:1fr 120px  minmax(300px, 800px) 1fr; 
 }

 .azul {
    background-color: teal;
 }
 .vermelho {
    background-color: #e54;   
 }
html.textomaior{
    font-size: 150%;
}
/* ---------------------------------- */


img {
    display: block; 
    max-width: 100%;
    cursor: pointer;
  
}
.menu {
    grid-column: 3 / 5 ;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fB5;
}
.menu ul{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.menu li a {
    display: block;
    padding: 17px;
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
}
.grid-section {
    grid-column: 2 / 4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 300px 1fr;
    grid-gap:20px;
    margin-bottom: 6rem;
}
.titulo {
    font-family: georgia;
    font-size: 5rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 3rem;
    grid-column: 1/4; 
}


.animais h2 {
    font-family: monospace;
    font-size: 1rem;
    text-transform: uppercase; 
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: #e54;
}
.animais h2::before {
 content:"";   
display: inline-block;
width: 40px;
height: 10px;
margin-right:10px ;
background-color: #fB5;
}
.animais p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.animais-lista {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
}
.animais-lista::-webkit-scrollbar{ 
    width: 18px;
}
.animais-lista::-webkit-scrollbar-thumb { 
   border-left: 4px solid #faf6ed ;
   border-right: 4px solid #faf6ed  ;
  border-radius: 8px;
}

.animais-lista::-webkit-scrollbar-track { /
   background: #faf6ed;

}
.animais-descricao section {
    margin-bottom: 3rem ;
}
.animais-descricao {
    grid-column: 3;
}
.faq-lista {
    grid-column:2 / 4 ;
}
.faq-lista dt {
    font-family: monospace;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: .5rem;
    color: #e54;
}
.faq-lista dt::before {
content: "";
display:inline-block;
width: 20px;
height: 10px;
margin-right: 10px;
background: #fB5;
}
.faq-lista dd{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: .5rem;
    margin-left: 30px;
}
.mapa{
    grid-column: 3 / 2;
}
.dados{
    grid-column: 3;
}
.dados li {
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.dados li::before {
content: "";
display:inline-block;
width: 20px;
height: 10px;
margin-right: 10px;
background: #fB5;
}
.copy{
    grid-column: 3 / 5;
    margin-bottom: 2rem;
    background: #fB5;
}
.copy p {
    padding: 20px;
    font-family: monospace;
    font-weight: bold;
}
/* ------------------------------- regra media querie---------------------------- */
@media (max-width:700px) {
    body{
        grid-template-columns: 1fr;
    }
    .menu, .grid-section, .copy {
        grid-column: 1;
    }
    .grid-section{
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
    }
    .animais-lista{
        grid-column: 1;
        cursor: pointer;
    }
    .faq-lista, .dados, .mapa{
        grid-column: 1 / 3;
    }
    .grid-section h1 {
        font-size: 3rem;
    }
}

.js-tabcontent section {
    display: none;
}
.js-tabcontent section.ativo {
    display: block !important ;
    animation: show 0.7s forwards;  
   
}

/* SHOW */
@keyframes show {
   from { 
    opacity: 0;
    transform: translate3d(-40px, 0px, 0px); /* move o conteudo em 3 eixos x y z   o Y COMEÇO fica em -30px*/  
   }

  to  { 
    opacity: 1;
    transform: translate3d(0px, 0px ,0px);
   }
}

/* --------------------------------------- ---------------- */



/* acortion para faq Tiulo e paragrapho */
.js-accordion dt.ativo::after{ 
    content: '⤵';
}
.js-accordion dt::after{ 
    content: '⤴';
}

.js-accordion dd {
    display: none;
}
.js-accordion dd.ativo{
    display: block;
    animation: slidDown .8s forwards;
}

@keyframes slidDown {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}
/*-----------------------------------------------------------------------------*/

.js-scroll{
    opacity: 0;
   transform:translate3d(-50px, 0px, 0px);
   transition: 0.5s;
}
.js-scroll.ativo {
    opacity: 1;
    transform:translate3d(-30px, 0px, 0px);
}